{% extends 'base.html' %}  
{% load blog_extras %}
{% load static %}
{% block content %}   


<!----------------------------------------------->
<div class="container">
<h2 class="text-danger text-center my-4">Flux Blogs&Galerie Photos</h2>  
    <div class="row justify-content-around">
        {% for instance in page_obj %}
        <div class="col-sm-6 col-md-4 col-lg-5 mb-4">
                {% if instance|model_type == 'Blog' %}
                {% include 'blog/partials/blog_snippet.html' with blog=instance %}
                 {% elif instance|model_type == 'Photo' %} 
                 {% include 'blog/partials/photo_snippet.html' with photo=instance %}
                  

                 {% endif %}
                 
            </div>
            
                 {% endfor %}
            </div>
            
 </div>

 {% include 'blog/partials/page_navigator.html' %}
<!----------------------------------------------->

<!--
<div class="container">
   
    <h2 class="text-danger text-center my-4">Galerie de Photos</h2>  
    <div class="row justify-content-around">
        {% for photo in photos %}
            <div class="col-sm-6 col-md-4 col-lg-5 mb-4">
                <img src="{{ photo.image.url }}" class="img-fluid" alt="Photo">
                <h4>{{ photo.caption }}</h4>
                 <p>Publié le: {{ photo.date_created }}</p>
                {% if perms.blog.change_photo %}
                <p class="text-secondary"><a href="{% url 'edit_photo' photo.id %}">Modifier la 📸</a></p>
                {% endif %} 
            </div>
            
        {% endfor %}
    </div>

    
    <h2 class="text-danger text-center my-4">Blog</h2>
    <div class="row justify-content-around">
        {% for blog in blogs %}
            <div class="col-sm-6 col-md-4 col-lg-5 mb-4">
                <a href="{% url 'view_blog' blog.id %}">
                    {% if blog.photo and blog.photo.image %}
                        <img src="{{ blog.photo.image.url }}" class="img-fluid" alt="Blog Photo">
                    {% elif blog.picture %}
                        <img src="{{ blog.picture.url }}" class="img-fluid" alt="Default Picture">
                    
                    {% endif %}
                    <p>Billet : {{ blog.title }}</p>
                    </a>
                    <p>Publié le: {{ blog.date_created }}</p>
            </div>
        {% endfor %}
    </div>
    
</div>
-->

{% endblock content %}