{% load blog_extras %}
<img src="{{ photo.image.url }}" class="img-fluid" alt="Photo">
<h4>{{ photo.caption }}</h4>
<p><strong>Prise par {% get_poster_display photo.uploader %}
</strong></p>

<!--p><strong>Prise par {{ instance.uploader }}</strong></p-->
 <!--p>Publié le: {{ instance.date_created }}</p-->
 <p>{{ photo.date_created|get_posted_at_display }}</p>
 {% if perms.blog.change_photo %}
 <p class="text-secondary"><a href="{% url 'edit_photo' photo.id %}">Modifier la 📸</a></p>
 {% endif %}

 